header {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 20px;
    color: white;
    border-bottom: 2px solid #89DEEF;
    background-color: #004175;
    padding: 20px;
    padding-left: 6%;
    vertical-align: top;
    
    
}
body {
    background-color: #DDDADA;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    margin-top: 0;
    
    
}
.container{
    background-color: white;

   
}
h1 {
    margin:0;
    font-family: "Open Sans";
    font-size: 15px;
    padding-top: 15px;
    padding-left: 5vw;

    
}
p {
    font-family: "Open Sans";
    font-size: 10px;
    padding-right: 0;
    padding-left: 5vw;
    
}
.container-dogs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 5vw;
    padding-left: 5vw;
}

.dog {
   width: 33%; 
   padding-bottom: 5%;
}
.dog img{
    width: 100%;
}
h3 {
    font-family: "Oswald";
}
.traits {
    font-family: "Open Sans";
    font-size: 11px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    margin: 0;
    padding: 0;
    
}
.traits li {
    width: fit-content;
    border-style: solid;
    border-width: 4px;
    border-color: #89DEEF;
    background-color: #89DEEF;
    border-radius: 8px;
    padding: 0;
    margin: 2px;
    

}
.container-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 250px;
    
    
}

.footer-photo {
    height: 100%;
    width: 33.3%;
    
}

#donate {

    background:
    linear-gradient( 
        rgba(166, 169, 240, 0.7),
        rgba(166, 169, 240, 0.7)),
        url("starter_files/images/donate.jpg");
        background-size: cover;
    
    
}

#volunteer {
    background: 
    linear-gradient(
    rgba(166, 169, 240, 0.7),
    rgba(166, 169, 240, 0.7)),
    url("starter_files/images/volunteer.jpg");
   background-size: cover;

}
#location {
    background: 
    linear-gradient(
    rgba(166, 169, 240, 0.7),
    rgba(166, 169, 240, 0.7)),
    url("starter_files/images/location.png");
   background-size: cover;
}

h2 {
    font-family: "Oswald";
    font-size: 25px;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
}
