header {
    font-family: "Open Sans";
    font-weight: bold;
    color: white;
    border-bottom: 2px solid #89DEEF;
    background-color: #004175;
    padding: 20px;
    vertical-align: top;
    
    
}
body {
    background-color: #DDDADA;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    margin-top: 0;
    
    
}
.container{
    background-color: white;
    padding-left: 5vw;
    padding-bottom: 800px;
    padding-right: 5vw;
   
}
h1 {
    margin:0;
    font-family: "Open Sans";
    font-size: 18px;
    padding-top: 15px;
   
    
    
}
p {
    font-family: "Open Sans";
    font-size: 10px;
    padding-right: 0;
    
}
.container-dogs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dog {
   width: 33%; 
}
.dog img{
    width: 100%;
}